/** 
 * Variables
 */

// Colors
$color-base: #222;
$color-light: #F1F3F8;
$color-primary: #d24d57;
$color-secondary: #F7A046;

$color-white: #FFF;
$color-gray: lighten($color-base, 40%);
$color-gray-border: lighten($color-base, 77%);
$color-gray-bg: lighten($color-base, 79%);

$color-nav-dark: linear-gradient(180deg, #000000 0%, #090D17 100%);
$color-nav-light: linear-gradient(180deg, #FFFFFF 0%, #F6F6FB 100%);

// Typographic
$typographic-font-family-heading: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$typographic-font-family-body: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;

$typographic-root-font-size: 100;
$typographic-base-font-size: 16px;
$typographic-small-font-size: 14px;

$typographic-base-line-height: 1.625;

$typographic-base-font-color: $color-base;
$typographic-link-p-font-color: $color-primary;
$typographic-link-s-font-color: $color-secondary;

$typographic-leading: round(16 * ($typographic-root-font-size / 100) * $typographic-base-line-height);

// Buttons
$button-height: 35px;
$button-border-radius: 20px;

// Layout
$layout-post-single-width: 945px;
$layout-post-width: $layout-post-single-width - 200px;
$layout-full-width: 100%;

$layout-width: 960px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;

// Others
$nav-height: 60px;
$nav-shadow-light: 0px 12px 40px -12px rgba(9,13,23,0.12);
$nav-shadow-dark: 0px 12px 40px -12px rgba(9,13,23,0.4);
$sidebar-max-width-mobile: 100vw;
$sidebar-max-width-desktop: 320px;