/** 
 * Variables
 */

// Colors
$color-base: #222;
$color-primary: #d24d57;
$color-secondary: #F7A046;

$color-white: #FFF;
$color-gray: lighten($color-base, 40%);
$color-gray-border: lighten($color-base, 77%);
$color-gray-bg: lighten($color-base, 79%);

$color-nav-dark: #090D17;
$color-nav-light: #fff;

// Typographic
$typographic-font-family-heading: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$typographic-font-family-body: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;

$typographic-root-font-size: 100;
$typographic-base-font-size: 16px;
$typographic-small-font-size: 14px;

$typographic-base-line-height: 1.625;

$typographic-base-font-color: $color-base;
$typographic-link-p-font-color: $color-primary;
$typographic-link-s-font-color: $color-secondary;

$typographic-leading: round(16 * ($typographic-root-font-size / 100) * $typographic-base-line-height);

// Buttons
$button-height: 35px;
$button-border-radius: 20px;

// Layout
$layout-post-single-width: 945px;
$layout-post-width: $layout-post-single-width - 200px;
$layout-full-width: 100%;

$layout-width: 960px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;

// Others
$nav-height: 60px;
// $nav-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
$nav-shadow: 0px 4px 40px -12px rgba(0,0,0,0.2);
$sidebar-max-width-mobile: 100vw;
$sidebar-max-width-desktop: 320px;