@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.layout {
    lost-center: $layout-width;

    &.isIndex {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 300px;
            background: $color-nav-light;
            z-index: -1;
        }
    }

    &.postStyle,
    &.workStyle {
        lost-center: $layout-full-width;
        background-color: $color-white;

        &.has_featured_image {
            margin-top: -#{$nav-height};
            padding-top: 0;
        }
    }

    .mask {
        position: fixed;
        left: 0;
        top: 0;
        top: 100vh;
        width: 100vw;
        height: 100vh;
        display: block;
        opacity: 0;
        background-color: transparent;
        z-index: 3000;
        transition: background-color 0.2s, top linear 0s 0.2s;

        &.on {
            top: 0;
            opacity: 1;
            background-color: rgba(0,0,0,.54);
            transition: background-color cubic-bezier(0.46, 0.98, 0.43, 1.01) 0.2s, top linear 0s;
        }
    }
    
    .sidebar__wrapper {
        max-width: $sidebar-max-width-mobile;
        background-color: $color-white;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        opacity: 0;
        will-change: transform;
        transform: translate3d(100%, 0, 0);
        box-shadow: none;
        z-index: 3100;
        transition: transform 0.3s cubic-bezier(0.46, 0.98, 0.43, 1.01), box-shadow 0.25s ease-in-out, opacity 0.25s ease-in-out 1s;

        &.on {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
            transition: transform 0.35s cubic-bezier(0.46, 0.98, 0.43, 1.01), box-shadow 0.25s ease-in-out, opacity 0.3s ease-in-out;
        }

        .sidebar__header {
            height: $nav-height;
            padding: 0 32px;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .title {
                font-family: $typographic-font-family-heading;
                text-transform: uppercase;
                font-weight: 700;

                .desktop {
                    display: none;
                }

                .mobile {
                    // display: block;
                    display: none;
                }
            }
    
            .icon {
                position: relative;
                display: block;
                width: 60px;
                height: $nav-height;
                margin-right: -24px;
                cursor: pointer;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
    
                span {
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    display: inline-block;
                    height: 2px;
                    width: 24px;
                    background-color: $color-gray;
    
                    &:first-child {
                        transform: rotateZ(45deg);
                    }
    
                    &:last-child {
                        transform: rotateZ(-45deg);
                    }
                }
    
                &:hover span {
                    background-color: $color-base;
                }
            }
        }
    }

    .subTitle {
        padding: 0 1.5rem;
        margin-top: 24px;
        margin-bottom: 12px;

        @include breakpoint-sm {
            display: none;
        }
    }
    
    // Min-width 685px
    
    @include breakpoint-sm {
        &.isIndex {
            &:before {
                display: none;
            }
        }

        .sidebar__wrapper {
            max-width: $sidebar-max-width-desktop;

            .sidebar__header {
                border-bottom: 1px solid $color-gray-border;

                .title {
                    .desktop {
                        display: block;
                    }
                    .mobile {
                        display: none;
                    }
                }
            }
        }
    }
    
    // Min-width 960px
    
    @include breakpoint-md {
        @include margin-bottom(0);

        &.isBlog {
            lost-center: $layout-blog-width;
            lost-utility: clearfix;
        }
    }
}

// Hide bottom navigation on large screens
@include breakpoint-sm {
    .bottomNav {
        display: none;
    }
}