@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

// Mobile - Max-width 684px

.navigation {
    width: 100vw;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    z-index: 2000;

    .navStopper {
        position: fixed;
        top: 100px;
        left: 0;
        display: block;
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
        z-index: -100;
    }

    &__inner {
        position: relative;
        padding: 0 24px;
        height: $nav-height;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color-white;

        .backButton {
            padding: 16px;
            margin-left: -16px;
            font-weight: 600;
            color: $color-base;
        }
    }
}

.is_post {

}

.headroom {
    position: relative;
    z-index: 100;

    &.unfixed {
        &.on_featured_image {
            .navigation {
                box-shadow: none;
                transition: box-shadow 0.3s ease-in-out;
        
                &__inner {
                    background-color: transparent;
                    transition: background-color 0.3s ease-in-out;
    
                    .backButton {
                        color: $color-white;
                    }
                }
            }
        }
    }
}

// Small Desktop - Min-width 685px

@include breakpoint-sm {
}

// Large Desktop - Min-width 960px

@include breakpoint-md {
}
