@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.logo {
    display: flex;
    align-items: center;
  
    &__link {
      display: block;
      padding: 22px 0;
    }
  
    &__img {
      display: block;
      margin-bottom: 0;
      width: auto;
      max-height: 16px;
      background-clip: padding-box;
    }
  
    &__text {
      font-size: $typographic-base-font-size * 1.125;
      font-weight: 700;
      @include line-height(1.125);
      text-transform: uppercase;
      @include margin(.5, 0, .5, 0);
      margin: 0;
  
      &-link {
        color: $color-base;
  
        &:hover,
        &:focus {
          color: $color-base
        }
  
      }
  
    }
  
  }