@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.logo {
  display: flex;
  align-items: center;

  .desktopLogo {
    display: none;
  }

  &__link {
    display: block;
    padding: 22px 0;
  }

  &__img {
    display: block;
    margin-bottom: 0;
    width: auto;
    max-height: 16px;
    background-clip: padding-box;
  }

  &__text {
    font-size: $typographic-base-font-size * 1.125;
    font-weight: 900;
    @include line-height(1.125);
    text-transform: uppercase;
    margin: 0;

    &-link {
      color: $color-base;

      &:hover,
      &:focus {
        color: $color-base
      }
    }

    &:before,
    &:after {
      content: '.';
      display: inline;
      color: $color-primary;
      font-size: 1.6rem;
      line-height: 1rem;
      margin: 0 0.1rem;
    }

    &:before {
      display: none;
    }
  }

  &__pageTitle {
    &:before {
      display: inline;
    }

    &:after {
      display: none;
    }
  }

  &.dark {
    .logo__text {
      &-link {
        color: $color-white;
  
        &:hover,
        &:focus {
          color: $color-white
        }
      }
    }
  }
}

@include breakpoint-sm {
  .logo {
    .mobileLogo {
      display: none;
    }
  
    .desktopLogo {
      display: block;
    }
  }
}