@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.post {
  &__hero {
    position: relative;
    @include margin-bottom(1.5);
    // min-height: 25vh;
  }

  &__heroImage {
    height: 50vh;

    &__mask {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(0,0,0,0.4);
      background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 100%);
    }
  }

  &__header-content {
    max-width: calc(100vw - 64px);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: $color-white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__title {
      font-size: $typographic-base-font-size * 2;
      @include line-height(1.65);
      @include margin-top(0.5);
      @include margin-bottom(0.5);
      font-weight: 600;
    }

    &__meta {
      font-size: 0.9rem;
      color: darken($color-white, 20%);
      margin: 20px 0;
  
      &__in-category {
        margin: 0 4px;
      }
  
      &__category-link {
        color: darken($color-white, 10%);
        font-weight: 600;
        text-decoration: underline;
      }
    }
  }

  &__footer {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__comments {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__home-button {
    display: block;
    max-width: 90px;
    height: $button-height;
    padding: 0 24px;
    line-height: $button-height;
    text-align: center;
    color: $color-base;
    border: 1px solid $color-gray-border;
    border-radius: $button-border-radius;
    font-size: $typographic-base-font-size;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    @include margin-top(1);

    &:hover,
    &:focus {
      color: $color-primary;
    }

  }

}

@include breakpoint-md {
  .post {
    &__footer {
      padding: 0;
    }

    &__comments {
      padding: 0;
    }

    &__home-button {
      position: fixed;
      max-width: auto;
      margin: 0;
      top: 30px;
      left: 30px
    }

  }

}